@charset "UTF-8";
.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 60px;
}

.place {
  height: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 60px 140px 60px;
  cursor: pointer;
}

.place .name {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -570px;
}

@media screen and (max-width: 540px) {
  .place .name {
    top: -370px;
  }
}

.place p {
  display: inline-block;
  text-align: center;
  color: #585858;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 19px;
}

.place .underline {
  height: 4px;
  width: 0;
  background-color: #69157a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 540px) {
  .place {
    margin: 20px 0 40px 0;
  }
}

.back-photo:first-child, .back-photo:nth-child(2), .back-photo:nth-child(3), .frame, .frame .photo {
  width: 300px;
  height: 300px;
  background-color: #ebebeb;
  position: relative;
  margin: auto;
  -webkit-box-shadow: 9px 9px 10px -6px rgba(0, 0, 0, 0.26);
          box-shadow: 9px 9px 10px -6px rgba(0, 0, 0, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 540px) {
  .back-photo:first-child, .back-photo:nth-child(2), .back-photo:nth-child(3), .frame, .frame .photo {
    width: 200px;
    height: 200px;
  }
}

.back-photo:first-child {
  z-index: 2;
  width: 260px;
  height: 260px;
  overflow: hidden;
  padding: 15px 0 15px 15px;
  border-right: solid 15px rgba(0, 0, 0, 0);
}

.back-photo:first-child img {
  height: 100%;
  width: auto;
}

@media screen and (max-width: 540px) {
  .back-photo:first-child {
    width: 160px;
    height: 160px;
  }
}

.back-photo:nth-child(2) {
  z-index: 1;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background-color: #e1e1e1;
  top: -300px;
}

@media screen and (max-width: 540px) {
  .back-photo:nth-child(2) {
    top: -200px;
  }
}

.back-photo:nth-child(3) {
  z-index: 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  top: -600px;
}

@media screen and (max-width: 540px) {
  .back-photo:nth-child(3) {
    top: -400px;
  }
}

.place:hover > .back-photo:first-child {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.place:hover > .back-photo:nth-child(3) {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.place:hover > .name .underline {
  width: 100%;
}

.carousel {
  position: relative;
}

@media screen and (max-width: 1600px) {
  .carousel {
    width: 90%;
  }
}

.customers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 500px;
  overflow: hidden;
  margin: auto;
}

@media screen and (max-width: 1250px) {
  .customers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
  }
  .customers .customer {
    position: relative;
    top: -460px;
  }
}

@media screen and (max-width: 540px) {
  .customers {
    height: 230px;
  }
}

.customer {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.3%;
          flex: 1 0 33.3%;
  left: -33.3%;
}

@media screen and (max-width: 1600px) {
  .customer {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.customer .name {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 45px;
  margin: auto;
  -webkit-transform: skew(20deg) scale(1);
          transform: skew(20deg) scale(1);
  background-color: #69157a;
  top: 380px;
}

@media screen and (max-width: 540px) {
  .customer .name {
    width: 200px;
    height: 40px;
  }
}

.customer .name p {
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: white;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  line-height: 45px;
}

@media screen and (max-width: 540px) {
  .customer .name p {
    size: 13px;
  }
}

.customer .country {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 45px;
  margin: auto;
  -webkit-transform: skew(20deg) scale(0.8);
          transform: skew(20deg) scale(0.8);
  background-color: #323232;
  top: 360px;
}

@media screen and (max-width: 540px) {
  .customer .country {
    width: 200px;
    height: 40px;
  }
}

.customer .country p {
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: white;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  line-height: 40px;
}

@media screen and (max-width: 540px) {
  .customer .country p {
    size: 13px;
  }
}

.customer .quote {
  display: none;
}

.customer.small {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (max-width: 1600px) {
  .customer.small {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
  }
}

.frame {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.frame .photo {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  overflow: hidden;
}

.frame .photo img {
  -webkit-transform: rotate(45deg) translate(-24%, 17%);
          transform: rotate(45deg) translate(-24%, 17%);
  width: 217%;
}

@media screen and (max-width: 540px) {
  .frame {
    top: 110px;
  }
}

.animate .primary {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(100%) scale(1);
          transform: translateX(100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media screen and (max-width: 1600px) {
  .animate .primary {
    -webkit-transform: translateX(100%) scale(0.7);
            transform: translateX(100%) scale(0.7);
  }
}

@media screen and (max-width: 1250px) {
  .animate .primary {
    -webkit-transform: translateX(0%) scale(0.7);
            transform: translateX(0%) scale(0.7);
    left: 0;
  }
}

.animate .small {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(100%) scale(1);
          transform: translateX(100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(100%) scale(0.8);
          transform: translateX(100%) scale(0.8);
}

@media screen and (max-width: 1600px) {
  .animate .small {
    -webkit-transform: translateX(100%) scale(0.55);
            transform: translateX(100%) scale(0.55);
  }
}

.animate.is-reversing .primary {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(-100%) scale(1);
          transform: translateX(-100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media screen and (max-width: 1600px) {
  .animate.is-reversing .primary {
    -webkit-transform: translateX(-100%) scale(0.7);
            transform: translateX(-100%) scale(0.7);
  }
}

@media screen and (max-width: 1250px) {
  .animate.is-reversing .primary {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 0;
    top: -460px;
  }
}

.animate.is-reversing .small {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(100%) scale(1);
          transform: translateX(100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) scale(0.8);
          transform: translateX(-100%) scale(0.8);
}

@media screen and (max-width: 1600px) {
  .animate.is-reversing .small {
    -webkit-transform: translateX(-100%) scale(0.55);
            transform: translateX(-100%) scale(0.55);
  }
}

@media screen and (max-width: 1250px) {
  .animate.is-reversing .small {
    -webkit-transform: translateX(0%) scale(0.7);
            transform: translateX(0%) scale(0.7);
    left: 0;
  }
}

.quote-block {
  max-width: 1250px;
  padding: 50px 30px 0 30px;
  min-height: 180px;
}

.quote {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 27px;
  text-align: center;
}

.quote::after, .quote::before {
  display: inline;
  color: #69157a;
  font-family: 'Passion One', serif;
  font-weight: 300;
  font-size: 50px;
  position: relative;
}

.quote::after {
  content: "\0022";
}

.quote::before {
  content: "“";
  top: 30px;
  right: 5px;
}

.primary-button {
  width: 150px;
  height: 40px;
  border: solid 1px #69157a;
  color: #69157a;
  background-color: transparent;
  margin-top: 40px;
  font-family: 'Open Sans', serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.primary-button:hover {
  border: solid 2px #69157a;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 8, 48, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(41, 8, 48, 0.2);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.next {
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 50%;
}

.prev {
  visibility: hidden;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow {
  visibility: visible;
  opacity: 0.6;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 35px solid black;
  border-bottom: 30px solid transparent;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

nav {
  z-index: 5;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  font-family: "Roboto", serif;
  color: #585858;
  background-color: white;
  -webkit-box-shadow: 0px 2px 32px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 32px 2px rgba(0, 0, 0, 0.15);
}

nav .logo-container {
  margin-left: 20px;
  width: 35px;
  height: 35px;
}

nav .logo-container img {
  width: 100%;
}

nav label {
  margin: 20px 20px auto auto;
}

nav ul,
nav .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 25px 20px;
  cursor: pointer;
}

nav li:hover {
  color: #69157a;
  font-weight: 700;
}

.nav-input {
  display: none;
}

.nav-input:checked ~ nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 335px;
}

.hamburger {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger-bar {
  height: 4px;
  width: 100%;
  background-color: #69157a;
}

@media screen and (max-width: 700px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hamburger {
    visibility: visible;
  }
}

body {
  margin: 0;
}

header {
  height: 500px;
  position: relative;
  background-image: url("../img/view.jpg");
  background-size: cover;
  background-position: center;
}

.search-panel {
  position: absolute;
  bottom: -90px;
  width: 70%;
  height: 180px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 3fr 3fr 2fr 2fr 2fr;
      grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
  grid-column-gap: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background-color: #500e5e;
}

.search-panel input {
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .search-panel {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (30px)[5];
        grid-template-rows: repeat(5, 30px);
    height: auto;
  }
}

header,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  -webkit-box-shadow: 0px 10px 62px 12px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 10px 62px 12px rgba(0, 0, 0, 0.45);
}

#our-customers {
  padding: 0;
}

h1 {
  color: white;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 91px;
}

h2 {
  color: #9f9e9e;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 61px;
}

h3 {
  color: #323232;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 51px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
}

.description {
  max-width: 600px;
  text-align: justify;
  text-align-last: center;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 17px;
}

.bar {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
}

.bar .img-container {
  width: 171px;
  height: 73px;
}

.bar .img-container img {
  width: 100%;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #69157a;
}

.break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px 0 10px 0;
  width: 600px;
}

.heart {
  padding: 0 30px;
  color: #69157a;
  font-size: 43px;
  font-family: 'Open Sans', serif;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

.icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

.icons img {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .description,
  .icons,
  h2,
  h3,
  .break {
    width: 90%;
  }
}

svg.icon {
  width: 80px;
  overflow: visible;
  stroke-width: 5px;
  color: #69157a;
  stroke: currentColor;
  vector-effect: non-scaling-stroke;
}
/*# sourceMappingURL=style.css.map */