.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 60px;
}

.place {
  height: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 60px 140px 60px;
}

.place p {
  position: relative;
  top: -570px;
  text-align: center;
  color: #585858;
  text-transform: uppercase;
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 19px;
}

.back-photo:first-child, .back-photo:nth-child(2), .back-photo:nth-child(3), .frame, .frame .photo {
  width: 300px;
  height: 300px;
  background-color: #ebebeb;
  position: relative;
  margin: auto;
  -webkit-box-shadow: 9px 9px 10px -6px rgba(0, 0, 0, 0.26);
          box-shadow: 9px 9px 10px -6px rgba(0, 0, 0, 0.26);
}

.back-photo:first-child {
  z-index: 2;
  width: 260px;
  height: 260px;
  overflow: hidden;
  padding: 15px 0 15px 15px;
  border-right: solid 15px rgba(0, 0, 0, 0);
}

.back-photo:first-child img {
  height: 100%;
  width: auto;
}

.back-photo:nth-child(2) {
  z-index: 1;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background-color: #e1e1e1;
  top: -300px;
}

.back-photo:nth-child(3) {
  z-index: 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  top: -600px;
}

.carousel {
  position: relative;
}

@media screen and (max-width: 1600px) {
  .carousel {
    width: 90%;
  }
}

.customers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 500px;
  overflow: hidden;
  margin: auto;
}

@media screen and (max-width: 1250px) {
  .customers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customers .customer {
    position: relative;
    top: -470px;
  }
}

.customer {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.3%;
          flex: 1 0 33.3%;
  left: -33.3%;
}

@media screen and (max-width: 1600px) {
  .customer {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.customer .name {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 45px;
  margin: auto;
  -webkit-transform: skew(20deg) scale(1);
          transform: skew(20deg) scale(1);
  background-color: #69157a;
  top: 380px;
}

.customer .name p {
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: white;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  line-height: 45px;
}

.customer .country {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 45px;
  margin: auto;
  -webkit-transform: skew(20deg) scale(0.8);
          transform: skew(20deg) scale(0.8);
  background-color: #323232;
  top: 360px;
}

.customer .country p {
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: white;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  line-height: 40px;
}

.customer.small {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (max-width: 1600px) {
  .customer.small {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
  }
}

.frame {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.frame .photo {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  overflow: hidden;
}

.frame .photo img {
  -webkit-transform: rotate(45deg) translate(-24%, 17%);
          transform: rotate(45deg) translate(-24%, 17%);
  width: 217%;
}

.animate .primary {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(100%) scale(1);
          transform: translateX(100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media screen and (max-width: 1600px) {
  .animate .primary {
    -webkit-transform: translateX(100%) scale(0.7);
            transform: translateX(100%) scale(0.7);
  }
}

@media screen and (max-width: 1250px) {
  .animate .primary {
    -webkit-transform: translateX(0%) scale(0.7);
            transform: translateX(0%) scale(0.7);
    left: 0;
  }
}

.animate .small {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(100%) scale(1);
          transform: translateX(100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(100%) scale(0.8);
          transform: translateX(100%) scale(0.8);
}

@media screen and (max-width: 1600px) {
  .animate .small {
    -webkit-transform: translateX(100%) scale(0.55);
            transform: translateX(100%) scale(0.55);
  }
}

.animate.is-reversing .primary {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(-100%) scale(1);
          transform: translateX(-100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media screen and (max-width: 1600px) {
  .animate.is-reversing .primary {
    -webkit-transform: translateX(-100%) scale(0.7);
            transform: translateX(-100%) scale(0.7);
  }
}

@media screen and (max-width: 1250px) {
  .animate.is-reversing .primary {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 0;
    top: -470px;
  }
}

.animate.is-reversing .small {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(100%) scale(1);
          transform: translateX(100%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) scale(0.8);
          transform: translateX(-100%) scale(0.8);
}

@media screen and (max-width: 1600px) {
  .animate.is-reversing .small {
    -webkit-transform: translateX(-100%) scale(0.55);
            transform: translateX(-100%) scale(0.55);
  }
}

.next {
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 50%;
}

.prev {
  visibility: hidden;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow {
  visibility: visible;
  opacity: 0.6;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 35px solid black;
  border-bottom: 30px solid transparent;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.arrow:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body {
  margin: 0;
}

h1 {
  color: #323232;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 51px;
}

.description {
  max-width: 600px;
  text-align: justify;
  text-align-last: center;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 17px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

#about-us,
#popular-destinations {
  -webkit-box-shadow: 0px 10px 62px 12px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 10px 62px 12px rgba(0, 0, 0, 0.45);
}

.bar {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 150px;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #69157a;
}

.break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px 0 10px 0;
  width: 600px;
}

.heart {
  padding: 0 30px;
  color: #69157a;
  font-size: 43px;
  font-family: 'Open Sans', serif;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

.icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

.icons img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */