$title-font-color: #323232;
$max-width: 600px;
$purple: #69157a;
$dark-purple: #500e5e;
$light-gray: #9f9e9e;
$break-large: 1600px;
$break-medium: 1250px;
$break-small: 700px;
$break-extra-small: 540px;
$text-gray: #585858;
$photo-color: #ebebeb;