@import "../helpers/variables";
$destination-photo-size: 300px;
$destination-photo-minimum-size: 200px;
.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 60px;
}

.place {
    height: $destination-photo-size;
    flex: 1 0 200px;
    width: $destination-photo-size;
    justify-content: center;
    margin: 40px 60px 140px 60px;
    cursor: pointer;
    .name {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -2*$destination-photo-size + 30px;
        @media screen and (max-width: $break-extra-small) {
            top: -2*$destination-photo-minimum-size + 30px;
        }
    }
    p {
        display: inline-block;
        text-align: center;
        color: $text-gray;
        text-transform: uppercase;
        margin-bottom: 0;
        font: {
            family: 'Open Sans', serif;
            weight: 800;
            size: 19px;
        }
    }
    .underline {
        height: 4px;
        width: 0;
        background-color: $purple;
        transition: all 0.3s;
    }
    @media screen and (max-width: $break-extra-small) {
        margin: 20px 0 40px 0;
    }
}

%photo {
    width: $destination-photo-size;
    height: $destination-photo-size;
    background-color: $photo-color;
    position: relative;
    margin: auto;
    box-shadow: 9px 9px 10px -6px rgba(0, 0, 0, 0.26);
    transition: all 0.3s;
    @media screen and (max-width: $break-extra-small) {
        width: $destination-photo-minimum-size;
        height: $destination-photo-minimum-size;
    }
}

.back-photo:first-child {
    @extend %photo;
    z-index: 2;
    width: 260px;
    height: 260px;
    overflow: hidden;
    padding: 15px 0 15px 15px;
    border-right: solid 15px rgba(0, 0, 0, 0);
    img {
        height: 100%;
        width: auto;
    }
    @media screen and (max-width: $break-extra-small) {
        width: $destination-photo-minimum-size - 40px;
        height: $destination-photo-minimum-size - 40px;
    }
}

.back-photo:nth-child(2) {
    @extend %photo;
    z-index: 1;
    transform: rotate(-5deg);
    background-color: #e1e1e1;
    top: -$destination-photo-size;
    @media screen and (max-width: $break-extra-small) {
        top: -$destination-photo-minimum-size;
    }
}

.back-photo:nth-child(3) {
    @extend %photo;
    z-index: 0;
    transform: rotate(-10deg);
    top: -2*$destination-photo-size;
    @media screen and (max-width: $break-extra-small) {
        top: -2*$destination-photo-minimum-size;
    }
}

.place:hover>.back-photo:first-child {
    transform: rotate(5deg);
}

.place:hover>.back-photo:nth-child(3) {
    transform: rotate(-15deg);
}

.place:hover>.name .underline {
    width: 100%;
}