.primary-button {
    width: 150px;
    height: 40px;
    border: solid 1px $purple;
    color: $purple;
    background-color: transparent;
    margin-top: 40px;
    font: {
        family: 'Open Sans', serif;
        weight: 700;
        size: 12px;
    }
    text-transform: uppercase;
}

.primary-button:hover {
    border: solid 2px $purple;
    box-shadow: 0px 0px 10px 0px rgba(41.18, 8.24, 47.84, 0.2);
}

button:focus {
    outline: 0;
}

.next {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 50%;
}

.prev {
    visibility: hidden;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: rotate(180deg);
}

%bar {
    visibility: visible;
    opacity: 0.6;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 35px solid black;
    border-bottom: 30px solid transparent;
    transition: opacity 0.3s;
}

%bar:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.arrow {
    @extend %bar;
}