.search-panel {
    position: absolute;
    bottom: -90px;
    width: 70%;
    min-height: 180px;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-column-gap: 10px;
    box-sizing: border-box;
    background-color: $dark-purple;
    input {
        height: 30px;
        max-width: 200px;
        background-color: transparent;
        border: none;
        border-bottom: solid 0.5px $light-purple;
        color: white;
        font-family: 'Open Sans', serif;
        font-size: 16px;
        font-weight: 300;
    }
    .icon {
        width: 22px;
        height: 22px;
        img {
            width: 100%;
        }
    }
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
}

@media screen and (max-width: $break-large) {
    .inputs {
        display: grid;
        grid-template: 1fr 1fr/ 250px 250px 100px;
        justify-content: center;
    }
    .input-box:last-child {
        grid-column: 3;
        grid-row: 1 / span 2;
    }
}

@media screen and (max-width: $break-medium - 200px) {
    .search-panel {
        bottom: -300px;
        height: 400px;
        grid-template: 1fr 50px / 1fr;
    }
    .inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .search-panel input {
        max-width: 90%;
        width: 90%;
    }
    .date {
        input {
            max-width: 150px;
        }
    }
    #about-us {
        padding-top: 300px;
    }
}

@media screen and (max-width: $break-extra-small) {
    .search-panel {
        width: 100%;
    }
}

.inputs>* {
    margin: 0 20px;
}

input:focus {
    outline: 0;
}

input::placeholder {
    color: white;
    opacity: 0.4;
    margin-bottom: 10px;
}

.input-box {
    display: flex;
    align-items: center;
}

.input-box {
    input {
        border: none;
        text-align: center;
    }
}

.people-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.people-input input {
    width: 40px;
}

.date input {
    max-width: 120px;
}

.date.calendar-visible .mini-clndr {
    display: block;
}

.mini-clndr {
    display: none;
    position: absolute;
    width: 200px;
    font-family: 'Open Sans', serif;
    font-size: 10px;
    box-shadow: 1px 1px 13px -1px rgba(0, 0, 0, 0.4);
    margin-top: 14px;
}

.clndr {
    background-color: white;
}

.clndr-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $dark-purple;
    padding: 6px;
    font-weight: 700;
    font-size: 12px;
}

.clndr-control-button {
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
}

.clndr-table {
    width: 100%;
    padding: 0 4px 9px 4px;
}

.header-days {
    margin: 0;
    padding: 7px;
    border-bottom: solid 1px #ececec;
    color: $dark-purple;
    font-weight: 700;
    border-top: solid 1px #ececec;
}

tr {
    display: grid;
    cursor: pointer;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    margin: 7px 0;
}

.day-contents {
    box-sizing: border-box;
    height: 20px;
    line-height: 16px;
    width: 20px;
    border: solid 2px rgba($color: white, $alpha: 1);
}

.selected {
    border: solid 2px rgba($color: $purple, $alpha: 1);
    color: $purple;
}